#root {
    --colorAqua: #48C6A9;
    --colorBackground: #f4f4f4;
    --colorTile: #fff;
    --colorSoftBorder: #ddd;
    --colorRed: red;
    --colorNiceRed: #D14343;
    --colorBlack: black;
    --colorYellow: #FFB020;
    --colorDarkGreen: #0F5156;

    --stdMargin: 40px;
    --smallMargin: 20px;
    --tinyMargin: 10px;
    --radius: 10px;

    --smallPadding: 10px;
    --stdPadding: 20px;
}

h1 {
  text-align: center;
  /* width: 100vw; */
  width: 100%;
}

h1, h2, h3 {
  margin: var(--smallMargin) 0;
}

pre {
  background: var(--colorBackground);
  padding: var(--smallPadding);
  border-radius: var(--radius);
  margin: var(--tinyMargin) 0;
  width: 100%;
}

code {
  width: 90%;
  white-space: pre-wrap;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  height: 2px;
  border: 1px solid var(--colorYellow);
  width: 100%;
}

.container {
    background-color: var(--colorBackground);
    border: 1px solid var(--colorBlack);
    border-radius: var(--radius);
    margin: var(--stdMargin) 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleSection {
  margin: var(--stdMargin) 0;
  display: flex;
  flex-wrap: wrap; /* Ermöglicht das Umbrechen der Elemente */
  align-items: center;
  justify-content: center;
  gap: var(--stdMargin);
  width: 90%;
}

.titleImage, .description {
  flex: 1 1 300px; /* Flex-Grow, Flex-Shrink, Basisbreite */
  max-width: 100%;
}

.noticeTile {
  margin: var(--stdMargin) 0;
  padding: var(--stdPadding);
  border: 2px solid var(--colorDarkGreen);
  background-color: var(--colorYellow);
  border-radius: var(--radius);
  color: var(--colorNiceRed);
}

.description {
  /* display: flex; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.titleImage {
  width: 30%;
  min-width: 300px;
  max-width: 100%;
  animation: rotate 3s linear infinite;
  /* animation: rotateAndMove 3s linear infinite; */
  /* animation: move 5s ease-in infinite; */
}

.property {
    background: var(--colorTile);
    margin: var(--smallMargin) 2%;
    padding: 20px;
    border-radius: var(--radius);
    border: 1px solid --colorBlack;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .example {
    padding: 10px;
    background: var(--colorTile);
    border: 1px solid var(--colorSoftBorder);
    border-radius: var(--radius);
    margin: var(--tinyMargin) 0;
    /* width: 70%; */
    /* min-width: 400px; */
    display: flex;
    justify-content: center;
  }

  .colorRed {
    color: var(--colorRed);
  }

  .example-container {
    display: flex;
    margin-top: var(--smallMargin);
    gap: var(--smallMargin);
    /* width: 70%; */
    /* min-width: 400px; */
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .example-box {
    flex-grow: 1;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }
  .example-box.with-border {
    border: 2px solid black;
  }

  .impressum, .privacyPolicy {
    margin: var(--stdMargin) 20%;
    padding: 0 0 var(--stdMargin) 0;
  }

  .privatePolicyList {
    margin: var(--smallMargin) 5%;
  }

  .propertyLink {
    margin: var(--tinyMargin) 0;
    color: var(--colorYellow);
  }

  .footerLinks {
    display: flex;
    gap: var(--stdMargin);
    justify-content: center;
    margin: var(--tinyMargin) 0;
    /* color: var(--colorYellow); */
  }

  a {
    color: var(--colorTile);
  }

  .rights {
    margin: var(--tinyMargin) 0;
    text-align: center;
  }


  @keyframes rotate {
    0% {
      transform: rotate(0deg); /* Ausgangsposition */
    }
    25% {
      transform: rotate(30deg); /* 10 Grad im Uhrzeigersinn */
    }
    50% {
      transform: rotate(0deg); /* Zurück zu 0 Grad */
    }
    75% {
      transform: rotate(-30deg); /* 10 Grad gegen den Uhrzeigersinn */
    }
    100% {
      transform: rotate(0deg); /* Zurück zu 0 Grad */
    }
  }

  @keyframes move {
    0% {
      transform: translateX(0); /* Ausgangsposition */
    }
    25% {
      transform: translateX(50px); /* Bewegt sich 50px nach rechts */
    }
    50% {
      transform: translateX(0); /* Zurück zur Ausgangsposition */
    }
    75% {
      transform: translateX(-50px); /* Bewegt sich 50px nach rechts */
    }
    100% {
      transform: translateX(0); /* Zurück zur Ausgangsposition */
    }
  }

  @keyframes rotateAndMove {
    0% {
      transform: rotate(0deg) translateX(0); /* Ausgangsposition */
    }
    25% {
      transform: rotate(30deg) translateX(-30px); /* 10 Grad im Uhrzeigersinn */
    }
    50% {
      transform: rotate(0deg) translateX(0); /* Zurück zu 0 Grad */
    }
    75% {
      transform: rotate(-30deg) translateX(30px); /* 10 Grad gegen den Uhrzeigersinn */
    }
    100% {
      transform: rotate(0deg) translateX(0); /* Zurück zu 0 Grad */
    }
  }